/*.container_carousel{
    background-color: pink;
    width:800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
    

}*/

.results_container{
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title_results{
    font-family: Nunito;
    font-style: normal;
    font-size: 3.125em;
    text-align: center;
    color: #430307;

}

.text_results{
    border: 4px solid black;
    width: 400px;
    min-width: 250px;
    font-style: italic;
    
}

.slide-container {
    width: 70%;
    margin: auto; }
  
  h3 {
    text-align: center; }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
  }
  
  
 
  .foto1, .foto2, .foto3{
      width: 100%;
      height: 400px;
  }







/*.container_results{
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title_results{
    border: 4px solid black;
    width: 200px;

}

.text_results{
    border: 4px solid black;
    width: 400px;
    min-width: 250px;
    font-style: italic;
    
}*/