/*.container_carousel{
    background-color: pink;
    width:800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
    

}*/



.results_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233,225,225);
    height: 760px;

    
}

.title_results{
    font-family: Nunito;
    font-style: normal;
    font-size: 3.125em;
    text-align: center;
    color: #430307;

}

.text_results{
    padding:40px;
    width: 500px;
    min-width: 250px;
    font-style: italic;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 1em;
    color: #8e6769;
    margin: 60px;
}
.slide-container {
    justify-content: center;
    width:1100px;
    height:350px;
    
    }
  
  h3 {
    text-align: center; }
  
  .each-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 400px;

  }

  @media (max-width: 1024px) {
    .slide-container {
        width:100%;
        min-width: 375px;
    }
   
    .each-slide {
    flex-direction: column;
    height: 800px;
    }
    
    .foto{
    max-width:400px;
    max-height:450px;
    
  }
  .results_container{
    height: 1200px ;

  }
  .text_results{
      margin: 500px;
  }
  }
  
  
 


  .foto{
      width: 500px;
      height: 350px;
      padding:15px;
  }

  



.antes_depois{
  flex-direction: column;
}

.react-slideshow-container .nav {
  background-color: rgb(233,225,225);
}


/*.container_results{
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title_results{
    border: 4px solid black;
    width: 200px;

}

.text_results{
    border: 4px solid black;
    width: 400px;
    min-width: 250px;
    font-style: italic;
    
}*/
