.ImpactedWomen {
    display: flex;
  }


.title{
    font-family: Nunito;
    font-style: normal;
    font-size:50px;
    text-align: center;
    color: #430307;
  }

  .container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;    
}

.image{
    width: 525px;
    height: 346px;
    background: rgba(142, 103, 105, 0.5);
  }


  .name{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height-step: 31px;
  
    color: #430307;
  }
  
  .History{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size:16px;
    line-height:30px;
  
    text-align: justify;
  
    color:#8e6769;
  }