/*desktop*/

.ImpactedWomen {
  display: flex;
  width: 100%;
  margin: 0%;

}


.title{
  font-family: Nunito;
  font-style: normal;
  font-size:3.125em;
  text-align: center;
  color: #430307;
  
}

.container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap-reverse;  
  align-items: center;  
  align-content: center;
}

.image{
  margin-bottom: 115px;
  width: 525px;
  height: 346px;
  background: rgba(67, 3, 7, 0.2);
  
}

.content{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
}


.name{
  width: 240px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5em;
  line-height-step: 31px;

  color: #430307;
}

.content_Description{
  width: 360px;
  
  margin-bottom: 91px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size:1em;
  line-height:30px;

  text-align: justify;

  color:#8e6769;
  margin-left: 92px;
}

/*mobile*/


@media (min-width: 375px){
  .image{
    width:300px;
    height: 190px;
  }

  .title{
    margin-bottom: 63px;
  }

  .container{
    justify-content: center;
  }

}

@media (min-width:1440px){
.image{
  width: 525px;
  height: 346px;
}
}





