.ImpactedWomen {
  background: #24292e;
  display: flex;
}


.title{
  font-family: munito;
  font-style: normal;
  font-size:50px;
  text-align: center;
  color: #430307;
}

.container1{
    display:flex;

    justify-content: space-around;
    flex-wrap: wrap-reverse;
    margin-left: 20%;
    margin-right: 20%;
}

.image1{
  width: 525px;
  height: 346px;
  background: rgba(142, 103, 105, 0.5);
}