@font-face {
  font-family: Nunito-SemiBold;
  src: url(../../assets/fonts/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: Nunito-ExtraBold;
  src: url(../../assets/fonts/Nunito-ExtraBold.ttf);
}

:root {
  --highlight-color: #430307;
  --primary-text-color: #8e6769;
  --secondary-text-color: #b76882;
  --color-background: #f2f2f2;

  --primary-font: 'Nunito', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;

  --nunito-semi-bold: Nunito-SemiBold;
  --nunito-extra-bold: Nunito-ExtraBold;

  --size-title: 1.4rem;
  --size-item: 1.4rem;
  --size-h2: 5rem;
  --size-p: 1.6rem;
  --size-h3: 2.8rem;
  --size-h4: 2.1rem;
  --size-p: 1.6rem;
}
