.faq {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--color-background-primary);
}

.faq_header {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: var(--nunito-bold);
  color: var(--highlight-color);
  font-size: var(--size-h2);
  text-transform: uppercase;
}

.faq_list {
  width: 100%;
  max-width: 95rem;
  list-style-type: none;
  padding-bottom: 7rem;
}

.faq_item {
  border: solid 0.1rem var(--color-border);
  background: var(--color-background);
  width: 100%;
}

.faq_details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq_question {
  text-transform: uppercase;
  font-family: var(--nunito-semi-bold);
  font-size: var(--size-p);
  color: var(--highlight-color);
  padding: 2rem;
  outline: none;
}

.faq_answer {
  font-size: var(--size-p);
  font-family: var( --nunito-regular);
  color: var(--primary-text-color);
  border-top: solid 0.1rem var(--color-border); 
  white-space: pre-line;
  line-height: 2.5rem;
  text-align: justify;
  text-indent: 4rem;
  padding: 3%;
  margin: 0;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  background: var(--highlight-color);
  content: "+";
  color: var(--color-background);
  float: right;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  padding: 0;
  width: 3rem;
}

details[open] summary:after {
  content: "-";
  float: right;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  width: 3rem;
}
