:root {
  --color-background: rgba(142, 103, 105, 0.2);
  --color-1: #430307;
  --color-2: #8E6769;
  --size-h2: 32px;
  --size-p: 16px;
  --font-title: 'Nunito', sans-serif;
  --font-p: 'Open Sans', sans-serif;
}

.faq {
  background: var(--color-background);
  align-items: center;
  display: flex;
  width: 100%;
  /* height: 882px; */
  flex-direction: column;
}

.faq_header {
  font-family: var(--font-p);
  font-size: var(--size-h2);
  color: var(--color-1);
  /* flex-basis: 100%; */
  margin-top: 30px;
  /* align-items: center; */
  text-transform: uppercase;
  width: 100%;
}

.faq_list {
  padding: 0;
  margin: 0;
  list-style-type:none;
  width: 944px;
  padding-bottom: 7rem;
}

.faq_item  {
  border: solid 0.5px #C2D1D9;
  background: #FFFFFF;
  width: 100%;
  margin: 0;
}

.faq_details {
  text-align: left;
}

.faq_question {
  text-transform: uppercase;
  font-family: var(--font-title);
  font-size: var(--size-p);
  font-weight: 600;
  color: var(--color-1);
  padding: 20px; 
}

.faq_answer {
  white-space: pre-line;
  font-family: var(--font-p);
  color: var( --color-2);
  padding: 30px;
  line-height: 25px;
  text-align: justify;
  text-indent:4em;
}

summary::-webkit-details-marker {
  display: none
}
summary:after {
  background: var(--color-1);
  content: "+"; 
  color: #fff; 
  float: right;  
  font-weight: bold; 
  padding: 0; 
  text-align: center; 
  width: 20px;
  left: 20px;
}
details[open] summary:after {
  content: "-";
}