.container_hero {
  width: 100%;
  height: 87vh;
  background: url('../../assets/imgs/hero1.png') center center/cover
    no-repeat fixed padding-box rgba(67, 3, 7, 0.4);
  text-align: left;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title_hero {
  width: 100%;
  max-width: 350px;
  font-family: 'Nunito';
  font-size: 64px;
  font-weight: bold;
  margin: 10px 0px;
}


.content_hero{
  margin: 60px 60px;
}

.text_hero {
  margin: 30px 0px;
  width: 80%;
  max-width: 600px;
  font-family: 'Open Sans';
  font-size: 24px;
}

.link_hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.command_hero {
  font-family: 'Nunito';
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  margin: 0px 0px;
}

.command_hero,
.anchor_hero,
.icon_hero {
  margin: 0px 0px;
}

@media only screen and (min-width: 375px) and (max-width:720px) {
  
  *{
      box-sizing: border-box;
  }

  .container_hero{ 
    width: 100%;
    height: 850px;
    padding:20px;
    background-image: url('../../assets/imgs/hero_min.png');
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    
  }
}