.container_hero{
    width: 100%;
    height:80vh;
    background: url('assets/hero_max.png') center center/cover no-repeat fixed padding-box   rgba(67, 3, 7, 0.4); 
    text-align: left; 
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.title_hero{
    width: 100%;
    max-width:350px;
    font-family: 'Nunito';
    font-size: 64px;
    font-weight: bold;
    margin: 30px;
}

.text_hero{
    margin: 30px;
    width: 40%;
    font-family: 'Open Sans';
    font-size: 24px;
}











/*<<<<<<< HEAD
.hero, .container-hero, h1, a, p {
<<<<<<< HEAD
=======
.container_hero, h1, a, p {
    width: 100%;
>>>>>>> 38984175076bf4cb04e403620fabb268935e01a8
    margin: 0%;
    padding: 0%;
  }
  
  @media only screen and (min-width: 1025px) and (max-width:1440px) {
  
    *{
        box-sizing: border-box;
    }
    
<<<<<<< HEAD
    .container-hero{
=======
    .container_hero{
>>>>>>> 38984175076bf4cb04e403620fabb268935e01a8
        width: 100%;
        height:850px;
        padding: 20px;
        background: rgba(67, 3, 7, 0.4);
        background-image: url('assets/hero_max.png');
        background-attachment:fixed;
        background-size: 100%;
        background-repeat: no-repeat;    
    }
  
    h1{
        position: absolute;
        top:270px;
        width:350px;
        text-align: left;
        font-family: 'Nunito';
        font-size: 64px;
        font-style: bold;
        color: #FFFFFF;
        margin-left: 7%;
    
    }
    
    p{
<<<<<<< HEAD
=======
        width:550px;
>>>>>>> 38984175076bf4cb04e403620fabb268935e01a8
        position: absolute;
        top:450px;
        font-family: 'Open Sans';
        font-size: 24px;
        font-style: normal;
        color: #FFFFFF;
        margin-left: 7%;
<<<<<<< HEAD
    }
    
    a{
        position: absolute;
        top:700px;
        width:150px;
        height: 80px;
        margin-left: -7%;
        margin-right: 70%; 
        text-decoration: none;

    }
  
    .scroll{
        font-family: 'Nunito';
        font-size: 14px;
        font-style: semibold;
        color: #FFFFFF;
    }
  
    #icone{
        width:48px;
        height:48px;
        margin-right:20%;
        margin-left: 20%;
    }
  }
  
  
  @media only screen and (min-width: 375px) and (max-width:720px) {
  
    *{
        box-sizing: border-box;
    }
  
    .container-hero{
        width: 100%;
        height:850px;
        padding: 20px;
        background-color: black;;
        background-image: url('assets/hero_min.png');
        background-attachment:fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }
  
    h1{
        position: absolute;
        top:270px;
        width:350px;
        text-align: left;
        font-family: 'Nunito';
        font-size: 64px;
        font-style: bold;
        color: #FFFFFF;
        margin-left: 7%;
    
    }
    
    a{
        position: absolute;
        top:700px;
        width:150px;
        height: 80px;
        margin-left: -15%;
        margin-right: 70%;
        text-decoration: none;

    }
  
    .scroll{
        font-family: 'Nunito';
        font-size: 14px;
        font-style: semibold;
        color: #FFFFFF;
    }
    
    #icone{
        width:48px;
        height:48px;
        margin-right:20%;
        margin-left: 20%;
    }
  
    p{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top:490px;
        text-align: left;
        font-family: 'Open Sans';
        font-size: 24px;
        font-style: normal;
        color: #FFFFFF;
        margin-left: 7%;
        width:400px;
    }
  }
  
  @media only screen and (min-width: 721px) and (max-width:1024px) {
  
    
    *{
        box-sizing: border-box;
    }
  
    .container-hero{
        width: 100%;
        height:850px;
        padding: 20px;
        background-color: grey;;
        background-image: url('assets/hero_medio2.png');
        background-attachment:fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }
  
    h1{
        position: absolute;
        top:270px;
        width:350px;
        text-align: left;
        font-family: 'Nunito';
        font-size: 64px;
        font-style: bold;
        color: #FFFFFF;
        margin-left: 7%;
    
=======
        text-align: left;
>>>>>>> 38984175076bf4cb04e403620fabb268935e01a8
    }
    
    a{
        position: absolute;
        top:700px;
        width:150px;
        height: 80px;
        margin-left: -7%;
<<<<<<< HEAD
        margin-right: 70%;
        text-decoration: none;
    
    }
  
    .scroll{
        font-family: 'Nunito';
        font-size: 14px;
        font-style: semibold;
        color: #FFFFFF;
    }
  
    p{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top:490px;
        font-family: 'Open Sans';
        font-size: 24px;
        font-style: normal;
        color: #FFFFFF;
        margin-left: 7%;
        width:600px;
    }
    
    #icone{
        width:48px;
        height:48px;
        margin-right:20%;
        margin-left: 20%;
            
    }    
  }

  
=======
  margin: 0%;
  padding: 0%;
}

@media only screen and (min-width: 1025px) and (max-width:1440px) {

  *{
      box-sizing: border-box;
  }
  
  .container-hero{
      width: 100%;
      height:850px;
      padding: 20px;
      background: rgba(67, 3, 7, 0.4);
      background-image: url('assets/hero_max.png');
      background-attachment:fixed;
      background-size: 100%;
      background-repeat: no-repeat;    
  }

  h1{
      position: absolute;
      top:270px;
      font-family: 'Nunito';
      font-size: 64px;
      font-style: bold;
      color: #FFFFFF;
      margin-left: 7%;
  
  }
  
  p{
      position: absolute;
      top:490px;
      font-family: 'Open Sans';
      font-size: 24px;
      font-style: normal;
      color: #FFFFFF;
      margin-left: 7%;
  
  
  
  }
  
  a{
      position: absolute;
      top:700px;
      height: 80px;
      margin-left: 680px;
      margin-left: 43%;
      margin-right: 43%;
  
  
  
  }

  #scroll{
      font-family: 'Nunito';
      font-size: 14px;
      font-style: semibold;
      color: #FFFFFF;
  }

  #icone{
      width:48px;
      height:48px;
      margin-right:20%;
      margin-left: 20%;
  }
}


@media only screen and (min-width: 375px) and (max-width:720px) {

  *{
      box-sizing: border-box;
  }

  .container-hero{
      width: 100%;
      height:850px;
      padding: 20px;
      background-color: black;;
      background-image: url('assets/hero_min.png');
      background-attachment:fixed;
      background-size: 100%;
      background-repeat: no-repeat;
  }

  h1{
      position: absolute;
      top:270px;
      font-family: 'Nunito';
      font-size: 64px;
      font-style: bold;
      color: #FFFFFF;
      margin-left: 7%;
  
  }
  
  a{
      position: absolute;
      top:700px;
      width:96px;
      height: 80px;
      margin-left: 680px;
      margin-left: 35%;
      margin-right: 43%;
  
  
  
  }

  #scroll{
      font-family: 'Nunito';
      font-size: 14px;
      font-style: semibold;
      color: #FFFFFF;
  }
  
  #icone{
      width:48px;
      height:48px;
      margin-right:20%;
      margin-left: 20%;
  }

  p{
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      top:490px;
      font-family: 'Open Sans';
      font-size: 24px;
      font-style: normal;
      color: #FFFFFF;
      margin-left: 7%;
      width:400px;
  }
}

@media only screen and (min-width: 721px) and (max-width:1024px) {

  
  *{
      box-sizing: border-box;
  }

  .container-hero{
      width: 100%;
      height:850px;
      padding: 20px;
      background-color: grey;;
      background-image: url('assets/hero_medio2.png');
      background-attachment:fixed;
      background-size: 100%;
      background-repeat: no-repeat;
  }

  h1{
      position: absolute;
      top:270px;
      font-family: 'Nunito';
      font-size: 64px;
      font-style: bold;
      color: #FFFFFF;
      margin-left: 7%;
  
  }
  
  a{
      position: absolute;
      top:700px;
      width:96px;
      height: 80px;
      margin-left: 680px;
      margin-left: 43%;
      margin-right: 43%;
  
  
  
  }

  #scroll{
      font-family: 'Nunito';
      font-size: 14px;
      font-style: semibold;
      color: #FFFFFF;
  }

  p{
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      top:490px;
      font-family: 'Open Sans';
      font-size: 24px;
      font-style: normal;
      color: #FFFFFF;
      margin-left: 7%;
      width:600px;
  }
  
  #icone{
      width:48px;
      height:48px;
      margin-right:20%;
      margin-left: 20%;
          
  }
      
}
>>>>>>> index e style Hero
=======
=======
        margin-right: 70%; 
        text-decoration: none;
>>>>>>> 38984175076bf4cb04e403620fabb268935e01a8

    }
  
    .scroll{
        font-family: 'Nunito';
        font-size: 14px;
        font-style: semibold;
        color: #FFFFFF;
    }
  
    #icone{
        width:48px;
        height:48px;
        margin-right:20%;
        margin-left: 20%;
    }
  }
  
  
  @media only screen and (min-width: 375px) and (max-width:720px) {
  
    *{
        box-sizing: border-box;
    }
  
    .container_hero{ 
        width: 100%;
        height:850px;
        padding: 20px;
        background-color: black;;
        background-image: url('assets/hero_min.png');
        background-attachment:fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }
  
    h1{
        position: absolute;
        top:270px;
        width:350px;
        text-align: left;
        font-family: 'Nunito';
        font-size: 64px;
        font-style: bold;
        color: #FFFFFF;
        margin-left: 7%;
    
    }
    
    a{
        position: absolute;
        top:700px;
        width:150px;
        height: 80px;
        margin-left: -15%;
        margin-right: 70%;
        text-decoration: none;

    }
  
    .scroll{
        font-family: 'Nunito';
        font-size: 14px;
        font-style: semibold;
        color: #FFFFFF;
    }
    
    #icone{
        width:48px;
        height:48px;
        margin-right:20%;
        margin-left: 20%;
    }
  
    p{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top:490px;
        text-align: left;
        font-family: 'Open Sans';
        font-size: 24px;
        font-style: normal;
        color: #FFFFFF;
        margin-left: 7%;
        width:400px;
    }
  }
  
  @media only screen and (min-width: 721px) and (max-width:1024px) {
  
    *{
        box-sizing: border-box;
    }
  
    .container_hero{
        width: 100%;
        height:850px;
        padding: 20px;
        background-color: black;;
        background-image: url('assets/hero_min.png');
        background-attachment:fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }
  
    h1{
        position: absolute;
        top:270px;
        width:350px;
        text-align: left;
        font-family: 'Nunito';
        font-size: 64px;
        font-style: bold;
        color: #FFFFFF;
        margin-left: 7%;
    
    }
    
    a{
        position: absolute;
        top:700px;
        width:150px;
        height: 80px;
        margin-left: -7%;
        margin-right: 70%;
        text-decoration: none;
    
    }
  
    .scroll{
        font-family: 'Nunito';
        font-size: 14px;
        font-style: semibold;
        color: #FFFFFF;
    }
    
    #icone{
        width:48px;
        height:48px;
        margin-right:20%;
        margin-left: 20%;
    }
  
    p{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top:490px;
        text-align: left;
        font-family: 'Open Sans';
        font-size: 24px;
        font-style: normal;
        color: #FFFFFF;
        margin-left: 7%;
        width:400px;
    }        
    
<<<<<<< HEAD
        }
      
        .scroll{
            font-family: 'Nunito';
            font-size: 14px;
            font-style: semibold;
            color: #FFFFFF;
        }
        
        #icone{
            width:48px;
            height:48px;
            margin-right:20%;
            margin-left: 20%;
        }
      
        p{
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top:490px;
            text-align: left;
            font-family: 'Open Sans';
            font-size: 24px;
            font-style: normal;
            color: #FFFFFF;
            margin-left: 7%;
            width:400px;
        }
      }
      
      @media only screen and (min-width: 721px) and (max-width:1024px) {
      
        
        *{
            box-sizing: border-box;
        }
      
        .container-hero{
            width: 100%;
            height:850px;
            padding: 20px;
            background-color: grey;;
            background-image: url('assets/hero_medio2.png');
            background-attachment:fixed;
            background-size: 100%;
            background-repeat: no-repeat;
        }
      
        h1{
            position: absolute;
            top:270px;
            width:350px;
            text-align: left;
            font-family: 'Nunito';
            font-size: 64px;
            font-style: bold;
            color: #FFFFFF;
            margin-left: 7%;
        
        }
        
        a{
            position: absolute;
            top:700px;
            width:150px;
            height: 80px;
            margin-left: -7%;
            margin-right: 70%;
            text-decoration: none;
        
        }
      
        .scroll{
            font-family: 'Nunito';
            font-size: 14px;
            font-style: semibold;
            color: #FFFFFF;
        }
      
        p{
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top:490px;
            font-family: 'Open Sans';
            font-size: 24px;
            font-style: normal;
            color: #FFFFFF;
            margin-left: 7%;
            width:600px;
        }
        
        #icone{
            width:48px;
            height:48px;
            margin-right:20%;
            margin-left: 20%;
                
        }    
      }
>>>>>>> 8ff324e8d8bb3fbe888eb8cef90eaf2871fcbb55
*/
  

