@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap');

:root {
  --color-background-image: #430307;
  --color-h2: #430307;
  --color-p: #8E6769;
  --size-h2: 50px;
  --size-p: 16px;
  --font-title: 'Nunito', sans-serif;
  --font-p: 'Open Sans', sans-serif;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 111 0 px;
}

.about__text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

