:root {
  --color-background-image: #430307;
  --color-h2: #430307;
  --color-p: #8E6769;
  --size-h2: 50px;
  --size-p: 16px;
  --font-title: 'Nunito', sans-serif;
  --font-p: 'Open Sans', sans-serif;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  width: 100%;
}

@media (min-width: 980px) {
  .about {
    align-items: flex-end;
    flex-direction: row;
    margin: 110px 0px;
  }
}

.about__text{
  text-align: left;
  width: 100%;
}

@media (min-width: 980px) {
  .about__text {
    padding: 90px 50px 40px 100px;
    width: 40%;
  }
}

.about__text__title{
  font-family: var(--font-title);
  font-size: var(--size-h2);
  color: var(--color-h2);
  text-align: center;
  padding: 0 20px;
}

@media (min-width: 980px) {
  .about__text__title {
    padding: 0;
    margin: 0 0 10px 0;
    text-align: left;
  }
}

.about__text__paragraph{
  font-family: var(--font-p);
  font-size: var(--size-p);
  color: var(--color-p);
  text-align: justify;
  line-height: 2;
  padding: 0 50px;
}

@media (min-width: 680px) {
  .about__text__paragraph {
    padding: 0 100px;
  }
}

@media (min-width: 980px) {
  .about__text__paragraph {
    padding: 0;
    margin: 30px 0 0 0;
  }
}

.about__image{
  background: var(--color-background-image);
  width: 100%;
  height: 200px;
  padding: 45px 0px;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.about__image__src{
  width: 90%;
  height: 90%;
  margin: 0px;
  object-fit: contain;
}

/* Tablet */

@media (min-width: 700px) {
  .about__image{
    height: 390px;
  }

  .about__text{
    margin: 50px;
  }
}

/* Desktop */

@media (min-width: 1280px) {
  .about {
    flex-direction: row;
    margin: 110px 0px;
  }

  .about__text{
    display: flex;
    width: 485px;
    margin: 90px 50px 100px 100px;
    flex-direction: column;
  }

  .about__text__title{
    text-align: left;
  }

  .about__image{
    width: 600px;
    height: 380px;
    padding: 85px 5px 125px 125px;
    margin: 0px;
  }
  
  .about__image__src{
    width: 100%;
    height: 100%;
  }
}