@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap');

:root {
  --color-background-image: #430307;
  --color-h2: #430307;
  --color-p: #8E6769;
  --size-h2: 50px;
  --size-p: 16px;
  --font-title: 'Nunito', sans-serif;
  --font-p: 'Open Sans', sans-serif;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 110px 0px;
}

.about__text{
  display: flex;
  width: 485px;
  margin: 90px 50px 100px 100px;
  flex-direction: column;
  justify-content: space-evenly;
}

.about__text__title{
  font-family: var(--font-title);
  font-size: var(--size-h2);
  color: var(--color-h2);
  text-align: left;
}

.about__text__paragraph{
  font-family: var(--font-p);
  font-size: var(--size-p);
  color: var(--color-p);
  text-align: justify;
  line-height: 2.0;
}

.about__image{
  background: var(--color-background-image);
  width: 600px;
  height: 378px;
  padding: 85px 5px 125px 125px;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.about__image__src{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .about__text{
    width: 840px;
    margin: 50px 30px;
  }

  .about__text__title{
    text-align: center;
  }

  .about__image{
    width: 840px;
    height: 530px;
    padding: 45px 30px;
  }

  .about__image__src{
    width: 90%;
    height: 90%;
  }  
}

@media (max-width: 375px) {
  .about__text{
    width: 315px;
    margin: 50px 30px;
  }

  .about__text__title{
    text-align: center;
  }

  .about__image{
    width: 315px;
    height: 200px;
    padding: 45px 30px;
  }

  .about__image__src{
    width: 60%;
    height: 60%;
  }  
}