:root {
  --color-background: #F2F2F2;
  --color-h2: #430307;
  --color-h3: #430307;
  --color-h4: #8E6769;
  --color-p: #8E6769;
  --color-border: #430307;
  --size-h2: 50px;
  --size-h3: 28px;
  --size-h4: 21px;
  --size-p: 16px;
  --font-title: 'Nunito', sans-serif;
  --font-p: 'Open Sans', sans-serif;
}

.whoDoes {
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.title {
  color: var(--color-h2);
  font-family: var(--font-title);
  font-size: var(--size-h2);
}

.whoDoes__body {
  display: flex;
  flex-direction: row;
}

@media (min-width: 1280px) {
  .whoDoes__body {
    display: flex;
    flex-direction: row;
  }
}

.whoDoes__body__figure {
  display: flex;
  justify-content: center;
}

.whoDoes__image {
  width: 85%;
  border: 1px solid var(--color-border);
}

.whoDoes__body__text {
  justify-content: center;
  margin: 10px 50px 30px 50px;
}

.whoDoes__body__title {
  font-family: var(--font-title);
  font-size: var(--size-h3);
  color: var(--color-h3);
}

.whoDoes__body__subtitle {
  font-family: var(--font-title);
  font-size: var(--size-h4);
  color: var(--color-h4);
  margin-top: 15px;
}

.whoDoes__body__paragraph {
  font-family: var(--font-p);
  font-size: var(--font-p);
  color: var(--color-p);
  text-align: justify;
  margin-top: 100px;
  line-height: 2;
}

.whoDoes__icon {
  width: 100px;
  margin-top: 40px;
}


.whoDoes__image-team {
  width: 90px;
  object-fit: cover;
  justify-content: space-between;
}

@media (min-width: 1280px) {
  .about__image-team {
    width: 165px;
    height: 143px;
  }
}

.whoDoes__body {
  display: flex;
  flex-direction: column;
}

.whoDoes__team {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 1280px) {
  .whoDoes__team {
    display: flex;
    flex-direction: row;
    margin-left: 380px;
    justify-content: center;
  }
}




