:root {
  --color-background: #F2F2F2;
  --color-h2: #430307;
  --color-h3: #430307;
  --color-h4: #8E6769;
  --color-p: #8E6769;
  --color-border: #430307;
  --size-h2: 50px;
  --size-h3: 28px;
  --size-h4: 21px;
  --size-p: 16px;
  --font-title: 'Nunito', sans-serif;
  --font-p: 'Open Sans', sans-serif;
}

.whoDoes {
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0px;
}

.title {
  color: var(--color-h2);
  font-family: var(--font-title);
  font-size: var(--size-h2);
}

@media (min-width: 1280px) {
  .title {
    margin-bottom: 60px;
  }
}

.whoDoes__body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .whoDoes__body {
    flex-direction: row;
    justify-content: center;
    padding-right: 40px;
  }
}

.whoDoes__body__figure {
  display: flex;
  justify-content: center;
}

@media (min-width: 1280px){
  .whoDoes__body__figure{
    width: 40%;
    height: 80%;
    object-fit: cover;
    align-items: right;
    margin: 0;
  }
}

.whoDoes__image {
  width: 85%;
  /* border: 1px solid var(--color-border); */
}

.whoDoes__body__text {
  justify-content: center;
  margin: 10px 50px 30px 50px;
}

@media (min-width: 1280px){
  .whoDoes__body__text{
    width: 50%;
    margin: 10px 50px 30px 0px;
  }
}

.whoDoes__body__title {
  font-family: var(--font-title);
  font-size: var(--size-h3);
  color: var(--color-h3);
}

@media (min-width: 1280px){
  .whoDoes__body__title{
    margin-top: 0px;
    text-align: left;
  }
}

.whoDoes__body__subtitle {
  font-family: var(--font-title);
  font-size: var(--size-h4);
  color: var(--color-h4);
  margin-top: 15px;
}

@media (min-width: 1280px){
  .whoDoes__body__subtitle{
    margin-top: 0px;
    text-align: left;
  }
}

.whoDoes__body__paragraph {
  font-family: var(--font-p);
  font-size: var(--font-p);
  color: var(--color-p);
  text-align: justify;
  margin-top: 100px;
  line-height: 2;
}

@media (min-width: 1280px){
  .whoDoes__body__paragraph{
    margin-top: 30px;
  }
}

.whoDoes__body__text__icons{
  width: 100%;
}

@media (min-width: 1280px){
  .whoDoes__body__text__icons{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
  }
}

.whoDoes__icon {
  width: 80px;
  margin-top: 20px;
}

@media (min-width: 1280px){
  .whoDoes__icon{
    width: 70px;
    margin-top: 0px;
  }
}

.whoDoes__team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 15px;
}

@media (min-width: 1280px) {
  .whoDoes__team {
    justify-content: flex-start;
    padding-left: 20px;
  }
}

.whoDoes__image-team {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

@media (min-width: 1280px) {
  .whoDoes__image-team {
    width: 140px;
    height: 140px;
    margin-left: 30px;
  }
}



