/*/-_-_-_-_  Header -_-_-_-_ /*/

.menu_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 82px;
}


/*/-_-_-_-_  Logo -_-_-_-_ /*/
  
.menu_img {
	object-fit: contain;
	width: 140px;
}
	

/*/-_-_-_-_  Menu Hamburguer -_-_-_-_ /*/

.menu_hamburger {
	border: 0;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	text-align: center;
}

@media (min-width: 890px){
  .menu_hamburger {
		display: none;
	}
}

@media (max-width: 890px){
  .menu_hamburger {
		display: flex;
	}
}


/*/-_-_-_-_  Menu  -_-_-_-_/*/


@media (min-width: 890px){
  .menu {
		width: 100%;
		height: 100%;
		background: none;
		flex-direction: row;
		padding: 0;
		align-items: flex-start;
		justify-content: space-between;
	}
}

@media (max-width: 890px){
  .menu {
		display: none;
	}
}


.menu_list{
	display: flex;
	list-style: none;
}

@media (min-width: 890px){
  .menu_list {
		flex-direction: column;
		justify-content: flex-end;
		flex-direction: row;
	}
}


.menu_list_item {
	margin: 10px;
	margin: 0px 10px;
	color: #B76882;
}


  .menu_list_link {
	margin: 10px 0 0 0;
	padding: 0;
	max-width: 650px;
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	color: var(--light-secondary-color);
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}


.menu_list_link:hover {
	color: #B76882;
	border-bottom: 2px solid #430307; 
}