.menu_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/*/-_-_-_-_  Logo -_-_-_-_ /*/


.logo {
	margin: 0;
  }
  
  .menu_img {
	object-fit: contain;
	}
	


/*/-_-_-_-_  Menu  -_-_-_-_/*/


.menu {
	flex-grow: 10;
}

.menu ul {
	display: flex;
}

.menu li {
		margin: 0px 10px;
		color: #B76882;
}

@media (min-width: 890px){
  .menu {
		width: 100%;
		height: 100%;
		background: none;
		flex-direction: row;
		padding: 0;
		align-items: flex-start;
		justify-content: space-between;
	}
}


  .menu_list {
	margin: 10px 0 0 0;
	padding: 0;
	max-width: 650px;
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

@media (min-width: 890px){
  .menu_list {
		flex-direction: column;
		justify-content: flex-end;
		flex-direction: row;
	}
}

.menu_list_item {
	margin: 10px;
}

.menu_list_link {
	text-decoration: none;
	color: var(--light-secondary-color);
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}