/*/-_-_-_-_-_-_-_-_    Header   -_-_-_-_-_-_-_-_ /*/

.menu_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 82px;
}


/*/-_-_-_-_-_-_-_-_-_   Logo  _-_-_-_-_-_-_-_-_ /*/
  
.menu_img {
	object-fit: contain;
	width: 140px;
}
	
 
/*/-_-_-_-_-_-_   Menu Hamburguer  -_-_-_-_-_-_ /*/

.menu_hamburger {
	border: 0;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	right: 20px;
}

@media (min-width: 980px){
  .menu_hamburger {
		display: none;
	}
}

@media (max-width: 980px){
  .menu_hamburger {
		display: flex;
	}
}


/*/-_-_-_-_-_-_-_-_-_   Menu  _-_-_-_-_-_-_-_-_ /*/

@media (min-width: 980px){
	.menu {
		width: 100%;
		height: 100%;
		background: none;
		flex-direction: row;
		padding: 0;
		align-items: flex-start;
		justify-content: space-between;
	}
}

@media (max-width: 980px){
  .menu {
		display: none;
	}
}

/* - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ */

.menu_list{
	display: flex;
	list-style: none;
	justify-content: space-between;
}


/* - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ */

.menu_list_item {
	color: #B76882;
}


/* - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ */

  .menu_list_link {
	display: flex;
	text-decoration: none;
	color: #B76882;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	font-size: 14px;
}

.menu_list_link:hover {
	color: #B76882;
	border-bottom: 2px solid #430307; 
}