/*/-_-_-_-_-_-_-_-_    Header   -_-_-_-_-_-_-_-_ /*/

.menu_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 80px;
}


/*/-_-_-_-_-_-_-_-_-_   Logo  _-_-_-_-_-_-_-_-_ /*/
  
.menu_img {
	object-fit: contain;
	width: 140px;
}
	
 
/*/-_-_-_-_-_-_   Menu Hamburguer  -_-_-_-_-_-_ /*/

.menu_hamburger {
	border: 0;
	padding: 10px 40px;
	font-size: 16px;
	cursor: pointer;
	right: 20px;
	display: flex;
}

@media (min-width: 980px){
  .menu_hamburger {
		display: none;
	}
}


/*/-_-_-_-_-_-_-_-_-_   Menu  _-_-_-_-_-_-_-_-_ /*/

.menu {
	width: 80%;
	padding: 0;
	display: none;
	justify-content: flex-end;
	}

@media (min-width: 980px){
  .menu {
		display: flex;
	}
}


/* - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ */

.menu_list{
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 0;
	width: 100%;
}


/* - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ */

.menu_list_item {
	color: #B76882;
}


/* - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ - _ */

  .menu_list_link {
	text-decoration: none;
	color: #B76882;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
}

.menu_list_link:hover {
	color: #B76882;
	border-bottom: 2px solid #430307; 
}