.menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-background);
}

@media (min-width: 980px) {
  .menu-container {
    width: 100%;
    height: 10.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background);
    padding: 0 8rem;
  }
}

.menu-mobile {
  width: 100%;
  max-width: 76rem;
  height: 8.5rem;
  display: flex;
  background-color: var(--color-background);
}

@media (min-width: 980px) {
  .menu-mobile {
    display: none;
  }
}

.menu_hamburger {
  display: block;
  position: absolute;
  font-size: var(--size-p);
  cursor: pointer;
  padding: 1rem 1.6rem;
  right: 20px;
  top: 20px;
  border: 0;
  text-align: center;
  background: transparent;
  color: var(--secondary-text-color);
  outline: none;
}

@media (min-width: 980px) {
  .menu_hamburger {
    display: none;
  }
}

.menu_show {
  display: none;
}

@media (min-width: 980px) {
  .menu_show {
    display: flex;
  }
}

.menu {
  width: 100%;
  background: var(--color-background);
  padding-left: 2rem;
}

@media (min-width: 980px) {
  .menu {
    width: 100%;
    max-width: 85rem;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.menu_logo {
  display: flex;
}

.menu_img {
  width: 100px;
  padding: 24px 0 0 28px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 980px) {
  .menu_img {
    width: 11rem;
    padding: 0 2rem 0 0;
    position: relative;
  }
}

.menu_list {
  padding: 1.6rem;
  width: 100%;
  margin: 2rem 0 8rem 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

@media (min-width: 980px) {
  .menu_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}

.menu_list_item {
  margin-top: 1rem;
}

@media (min-width: 980px) {
  .menu_list_item {
    color: var(--secondary-text-color);
    font-family: Nunito-SemiBold;
    font-size: var(--size-p);
  }
}

.menu_list_link {
  text-decoration: none;
  color: var(--secondary-text-color);
  text-transform: initial;
  text-align: center;
  font-size: var(--size-p);
  line-height: 22px;
}

@media (min-width: 980px) {
  .menu_list_link {
    text-decoration: none;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    text-align: center;
    font-size: var(--size-p);
    line-height: 22px;
  }
}

.menu_list_link:hover {
  color: var(--secondary-text-color);
  border-bottom: 2px solid var(--highlight-color);
}

.menu_list_link_help {
  text-decoration: none;
  color: var(--secondary-text-color);
  text-transform: initial;
  text-align: center;
  font-size: var(--size-p);
  line-height: 22px;
  font-family: Nunito-ExtraBold;
}

@media (min-width: 980px) {
  .menu_list_link_help {
    text-decoration: none;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    text-align: center;
    font-size: var(--size-p);
    line-height: 22px;
    font-family: Nunito-ExtraBold;
  }
}

.menu_list_link_help:hover {
  color: var(--secondary-text-color);
  border-bottom: 2px solid var(--highlight-color);
}
